.breadcrumbs{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 5px;
    max-width: 1170px;
    font-size: 12px;
    font-weight: 400;
    margin: 80px auto 50px;
}
.separator{
   width: 11px;
   height: 11px;
   background-size:cover;
   background:url(./images/fi_2985150.svg)
}
.directions_item{
    
    margin: 80px auto 0;
}
.breadcrumbs_home{
    color:#FFDD00;
    text-decoration: underline;
}
.first_row{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:flex-start;
    gap: 20px;
    grid-template-rows: auto 1fr;
    position: relative;
    
}
.first_row .img_absolute{
    position: absolute;
    right: 0;
    top: 50%;
    width: 400px;
    height: 260px;
    transform: translate(90%, -50%);
}
.first_row img{
    object-fit: cover;
    width: 100%;
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;

}
.first_row .section__title{
    margin-bottom: 0;
    padding-top: 65px;
}

.descr_box{
    grid-column: 1 / span 1;
}

.second_row{
    display: flex;
    margin-top: 90px;
    gap: 20px;
}

.trainer_name_box{
    display: flex;
    flex-direction: column;
    grid-row: 1/span 1;
    grid-column: 1/ span 1;
}
.trainer_preview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr ;
    gap: 20px;
}
.trainer_foto{
    grid-row: 1/span 3;
    grid-column: 2/ span 1;
    justify-self: end;
}
.trainer_preview .turnam_descr{
    grid-row: 3/span 1;
    grid-column: 1/ span 1;
}
.decor_two{
   grid-row: 2 / span 1;
   grid-column: 1/ span 1;
}
.stars_card_wrapper{
    display: flex;
    gap: 22px;
}
.stars_card_item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.stars_card_item img{
    width: 100%;
    object-fit: cover;

}
.flex_row{
    display: flex;
   
    gap: 20px;
}
@media(max-width:760px){
    .breadcrumbs{
        margin: 40px auto 30px;
    }
.first_row{
    
    grid-template-columns: 1fr;
}
.first_row img {
    
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.first_row .img_absolute{
   display: none;
}
.hero-text {
   
    margin-bottom: 10px;
    
}
.first_row .section__title{
    padding: 0;
}
.second_row {
   flex-direction: column;
   margin-top: 20px;
}

.flex_row{
    flex-direction: column;
   margin-top: 20px;
}
.trainer_preview{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
}
.trainer_foto {
    grid-row: 2/ span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    width: 100%;
        object-fit: cover;
}
.decor_two {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}
.trainer_preview .turnam_descr {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}
.stars_card_wrapper {
    display: flex;
    gap: 10px;
}
.stars_card_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
}